.topmenu{
    
  overflow: hidden;
  height: 10vh;
}
li{
    
    display: inline;
    
    padding-left:70px;
    
    font-size: 8px;
    
}
ul{
  margin-top: 20px;
  
}
a{
    
  

  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
    color: black;
    
 
}